<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="GPTraka by joshdgeek" content="student management student made in Nigeria">
    <meta name="gptraka" content="Grade point tracker is a platform built by joshdgeek to help with storage of schoolrecords">
    <link rel="stylesheet" href="./css/hamburger.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/dom.js" defer></script>
    <script src="./js/edit.js" defer></script>
    <script src="./js/main.js" defer></script>
    <title>GP-TRAKA</title>
    <script >
        function welcome(){
           alert("hello, save your data in order of semesters")
        }
       // window.setTimeout(welcome,2000)
    </script>
</head>
<body>
    
    <div id="container">

        <div class="nav">
            <nav>
                <div class="span">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>


        <div class="sidebar">
             <div class="sidebarContent">
                <p align="center"> sidebar Menu</p>

                <ul>
                    <li align="center"><a href="/changePass">changePassword</a></li>
                    <li align="center"><a href="/deleteAccount">Delete Account</a></li>
                    <li align="center"><a href="/logout">logout</a></li>
                    <li align="center"><a href="">GRADEPOINT TRACKER</a></li>
                </ul>
    
            </div>
        </div>
    

        <div class="entry">
            <h3 style="font-family: Arial, Helvetica, sans-serif;color:skyblue;margin:5px 0px;">Welcome <%= name %> </h3>

            <div style="color:rgb(0, 204, 255);font-family: cursive;width:70%;word-wrap: break-word;padding-left:5px;">
                <b><%= quotes %></b>
            </div>

            <form  method="POST">
            <label for="">course</label> <br>
            <input type="text"  name="courses" autocomplete="off" required> <br>

            <label for="">unit</label> <br>
            <input type="text"  name="unit" autocomplete="off" required> <br>

            <label for="">score</label> <br>
            <input type="numbers" name="gradePoint" autocomplete="off" required> <br>
            
            
            <button id="button" type="submit">submit</button>
            </form>

            <div class="centertable">

                
            <table >
                <tr>
                    <td class="tableTitle"> Courses</td>
                    <td class="tableTitle"> Score </td>
                    <td class="tableTitle">Unit</td>
                    <td class="tableTitle">grade</td>
                    <td class="tableTitle">Edit</td>
                </tr>

                <%## loop through the courses and gradePoint %> 
                <% for( var i=0;i<courses.length;i++){ %>
                
                <tr>
                    <td class="courses"> <%= courses[i] %> </td>
                    <td class="points"> <%= points[i] %> </td> 
                    <td class="unit"> <%= units[i] %> </td>
                    
                    <%## grade A %> 
                    <% gradeA.forEach(element => { %>
                        <% if (element==points[i]) { %>
                            <td class="grade" >A</td> 
                        <% } %>
                    <% }) %>

                    <%# grade B %> 
                    <% gradeB.forEach(element => { %>
                        <% if (element==points[i]) { %>
                            <td class="grade">B</td> 
                        <% } %>
                    <% }) %>

                    <%# grade C %> 
                    <% gradeC.forEach(element => { %> 
                        <% if (element==points[i]) { %>
                            <td class="grade">C</td> 
                        <% } %>
                    <% }) %>  

                    <%# grade D %> 
                    <% gradeD.forEach(element => { %>
                        <% if (element==points[i]) { %>
                            <td class="grade">D</td> 
                        <% } %>
                    <% }) %>  

                    <%# grade E %> 
                    <% gradeE.forEach(element => { %>  
                        <% if (element==points[i]) { %>
                            <td class="grade">E</td> 
                        <% } %>
                    <% }) %>  

                    <td>
                        <%## send a req paramto the server) from the client side javascript to handle the deletion of selected items %> 
                            <form class="form">
                                <input type="hidden" name="items" value="">
                                <button type="submit" class="btn">Delete</button>
                            </form>
                        </td>

                    </tr>

                <% } %> 
        
            </table> 
        
        </div>   
    </div>
    </div>

    <footer>
        <div align="center">
          <h2 style="font-family: arial;">Joshdgeek</h2>
        </div>
    </footer>   

</body>
</html>
